/*==================
style of the page navigation
====================*/


@media screen {
/* overall style for the navigation bar */
	.site-nav-list {
		background-color:#333;
		padding: 0.5em;	
	}

	/*style for the link list and footer link */
	.site-nav-list li,
	.site-footer {
		display: inline;
		background-color: #333
	}

	/*style for the links in navbar and footer themselves */
	.site-nav-list a,
	.site-footer a {
		color: white;
		text-decoration:none;
	}
	
} /* end @media */